env:
  global:
    - CC_TEST_REPORTER_ID=b5efedd65d6e7a6532eaeb5a6493c84871ce56b9bb0a3bd9e67f06c4384e978c
language: python
python:
  - "2.7"
# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install coverage
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
# command to run tests
script:
  - pytest # or py.test for Python versions 3.5 and below
after_script:
  - coverage run osc_python/* && coverage xml
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT -t coverage.py